<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ur3 -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />
  <!-- robotiq -->
  <xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />
  <!-- Spawn arm -->
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur3_default.yaml"/>
  <xacro:ur3_robot prefix="ur3_arm_" joint_limited="true"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}" />

  <!-- Join arm -->
  <joint name="ur3_arm_base" type="fixed">
	<parent link="mid_mount" />
	<child link="ur3_arm_base_link" />
	<origin xyz="0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- robotiq -->
  <xacro:robotiq_ft300 prefix="" parent="ur3_arm_ee_link" >
    <origin xyz="-0.004 0 0" rpy="0 ${pi/2} 0 "/> 
  </xacro:robotiq_ft300>

</robot>
